.appname{
  font-weight: 400;
  display: inline;
}
body{
  font-family: 'Montserrat';
}
a img{
  width: 8%;
  border-radius: 50%;

}
.navbar{
  font-size: 1.3rem;
}
/* banner1 */

#banner1{
  padding: 6% 10%;
}

h1{
  font-size: 4rem;
  font-family: 'Montserrat';
  font-weight: bold;
  line-height: 1.3
}
.download{
  margin: 2% 4% 2% 0;
}
.img1{
  width: 49%;
  transform: rotate(15deg);
}
.img2{
  width: 49%;
  transform: rotate(-15deg);
}

/* banner2 */

#banner2{
  padding: 7% 10%;
  text-align: center;
  background:#F8F9FA;

}
h3{
  font-weight: 500;
  margin: 2% 1% 0;
}
.icon{
  color: mediumslateblue;
}
.fdesc{
  margin-bottom: 5%;
}


/* banner3 */

#banner3{
  padding: 7% 10%;
}

.img3{
  width: 32%;
  transform: rotate(-15deg);
}
.img4{
  width: 32%;
  transform: rotate(0deg);
}
.img5{
  width: 32%;
  transform: rotate(15deg);
}

/* footer */
footer{
  text-align: center;
  padding: 1.5%;
  background: #F8F9FA;
}

@media (max-width:500px) {
  .download{
    font-size: .8rem;
    padding: .5rem;
  }
  .navbar{
    font-size: .7rem;
  }
}

@media (max-width:1024px) {
  #banner1,#banner3{
    text-align: center;
  }
  h1{
    font-size: 2rem;
  }
  a img{
    width: 50px;
  }

  footer{
    font-size: 0.5rem;
  }
}
